

html, body {
  overflow-x: hidden;
}

body {
  background: linear-gradient(#071A8C,#4CAAC1);
  background-size: contain;

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

